<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/FB_DE_interviewPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python: Easy (tags: list, string, hashtable)**


1. Complete a function that returns the number of times a given character occurs in the given string

    For example:
     - input string = "mississippi"
     - char = "s"
     - output : 4
  
2. Fill in the blanks: Given an array containing None values fill in the None values with most recent non None value in the array
    
    For example:
    - input array: [1,None,2,3,None,None,5,None]
    - output array: [1,1,2,3,3,3,5,5]
    
    Ensure you take care of case input[None] which means None object.

3. Complete a function that returns a list containing all the mismatched words (case sensitive) between two given input strings

    For example:
    - string 1 : "Firstly this is the first string"
    - string 2 : "Next is the second string"
    - output : ['Firstly', 'this', 'first', 'Next', 'second']

4. Find common words in 2 sentences

5. Given two sentences, construct an array that has the words that appear in one sentence and not the other.

6. Given an array of integers, we would like to determine whether the array is monotonic (non-decreasing/non-increasing) or not.
    
    Examples:
    - 1 2 5 5 8 --> true
    - 9 4 4 2 2 --> true
    - 1 4 6 3 --> false
    - 1 1 1 1 1 1 --> true   

7. Valid ip address, edge case to remember is if there are alphanumeric characters.

8. Count distinct words in a sentence

9. Count the number of times a word appear in a sentence using a Hash Map

10. Return tuples of a list, matching each item to another item

11. Count the number of times a substring appear in a string

12. Calculate the average word length.
    For the given set of words return the average word length.

13. want you to write me a simple spell checking engine.


##StackOverFlow


##YouTube
1.   Write a Python Program to print the Prime Numbers between 2 numbers.
2.   Write a sort function to sort the elements in a list.
3.   Write a Sorting function withOUT using the list.sort function
4.   Write a Python program to print Fibonacci Series
5.   Write a Python program to print a list in reverse.
6.   Write a Python program to check whether a string is a Palindrome or not.
7.   Write a Python program to print set of duplicates in a list.
8.   Write a Python program to print number of words in a given sentence.
9.   Given an array arr[] of n elements, write a Python function to search a given element x in arr[]
10.  Write a Python program to implement a Binary Search.
11.  Using Python plot simple Bar Chart.
12.  Using Python join 2 strings.(Hint: join())
13.  Extract digits from given string.
14.  Using Python split strings using newline delimiter.
15.  Given a string as your input, delete any recurring character, and return the new string.


##Twitter


1.   How would you find the minimum absolute difference between a set of elements of an array?
2.   I'm going to provide you with a string. How would you calculate the number of unique words present in it?
3.   How would you calculate unique logins by a user on http://Facebook.com
4.   How would you calculate the average length of words in a sentence?
5.   How would you validate an IP Address?
6.   Find smallest absolute difference between two numbers in a list
7.   find the median in an array

In [ ]:
state='new jersey'

In [ ]:
def cnt(items):
  for x in set(items):
    c=items.count(x)
    print("The number of times %s appears in %s is %s" %(x, items ,c))

In [ ]:
cnt(state)

The number of times s appears in new jersey is 1
The number of times y appears in new jersey is 1
The number of times   appears in new jersey is 1
The number of times e appears in new jersey is 3
The number of times r appears in new jersey is 1
The number of times j appears in new jersey is 1
The number of times w appears in new jersey is 1
The number of times n appears in new jersey is 1

In [ ]:
cnt("missisipi")
print("xxxxxxxx")
cnt('new york')
print("xxxxxxxx")
cnt('New Hampshire')

The number of times p appears in missisipi is 1
The number of times s appears in missisipi is 3
The number of times i appears in missisipi is 4
The number of times m appears in missisipi is 1
xxxxxxxx
The number of times y appears in new york is 1
The number of times o appears in new york is 1
The number of times   appears in new york is 1
The number of times e appears in new york is 1
The number of times r appears in new york is 1
The number of times w appears in new york is 1
The number of times k appears in new york is 1
The number of times n appears in new york is 1
xxxxxxxx
The number of times s appears in New Hampshire is 1
The number of times H appears in New Hampshire is 1
The number of times h appears in New Hampshire is 1
The number of times p appears in New Hampshire is 1
The number of times   appears in New Hampshire is 1
The number of times e appears in New Hampshire is 2
The number of times N appears in New Hampshire is 1
The number of times i appears in New Hampshire is 1
The number of times a appears in New Hampshire is 1
The number of times r appears in New Hampshire is 1
The number of times w appears in New Hampshire is 1
The number of times m appears in New Hampshire is 1

In [ ]:
x=[1,None,2,3,None,None,5,None]
x=[None]

In [ ]:
for i,e in enumerate(x[:-1],1):
  if x[i]==None:
    x[i]=x[i-1]
print(x)

[None]

In [ ]:
for i,e in enumerate(x[:-1],1):
  if x[i]==None:
    x[i]=x[i-1]
print(x)

[None]

In [ ]:
string_1="Firstly this is the first string"
string_2="Next is the second string"

In [ ]:
l1=[x.lower() for x in string_1.split(" ") if x not in [x.lower() for x in string_2.split(" ")]]
l2=[x.lower() for x in string_2.split(" ") if x not in [x.lower() for x in string_1.split(" ")]]
l3=l1+l2

In [ ]:
print(l3)

['firstly', 'this', 'first', 'next', 'second']

In [ ]:
l4=[x for x in string_1.split(" ") if x in [x for x in string_2.split(" ")]]
print(l4)

['is', 'the', 'string']

Given two sentences, construct an array that has the words that appear in one sentence and not the other

In [ ]:
s1 = "this apple is sweet"
s2 = "this apple is sour"

In [ ]:
l1=[x for x in s1.split(" ") if x not in [x for x in s2.split(" ")]]
l2=[x for x in s2.split(" ") if x not in [x for x in s1.split(" ")]]
l3=l1+l2
print(l3)

['sweet', 'sour']

**Given an array of integers, we would like to determine whether the array is monotonic (non-decreasing/non-increasing) or not.**
    
    Examples:
    - 1 2 5 5 8 --> true
    - 9 4 4 2 2 --> true
    - 1 4 6 3 --> false
    - 1 1 1 1 1 1 --> true

**Valid ip address, edge case to remember is if there are alphanumeric characters.**

**Count Distinct Words in a Sentence**

In [ ]:
string_1="Firstly this is the first string. Next is the second string."

In [ ]:
def distinct_words(items):
  c=0
  for x in items.split(" "):
    if items.count(x)==1:
      c+=1
  return c

In [ ]:
distinct_words(string_1)

5

**Count the number of times a word appears in a sentence using HashMap**

In [ ]:
string_1="Firstly this is the first string. Next is the second string."

In [ ]:
def count_each_word(items):
  for x in items.split(" "):
    c=items.count(x)
    print("The word-- %s --appears %s time(s) in the sentence %s" %(x, c, items) )

In [ ]:
count_each_word(string_1)

The word-- Firstly --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- this --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- is --appears 3 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- the --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- first --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- string. --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- Next --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- is --appears 3 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- the --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- second --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- string. --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.

**Return tuples of a list, matching each item to another item**

**Count the number of times a substring appear in a string**

In [ ]:
string_1="Firstly this is the first string. Next is the second string."

In [ ]:
def cnt_string(parent,str):
  cnt=parent.lower().count(str.lower())
  return cnt

In [ ]:
cnt_string(string_1, 'the')

2

In [ ]:
cnt_string(string_1, 'string')

2

In [ ]:
cnt_string(string_1, 'Firstly')

1

In [ ]:
cnt_string(string_1, 'firstly')

1

**Calculate the average word length. For the given set of words return the average word length.**

#**Below are Obtained from StackOverFlow**

**How to make a flat list out of a list of lists?**

In [ ]:
l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

In [ ]:
flat_list = [item for sublist in l for item in sublist]

In [ ]:
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flat_list = []
for sublist in l:
    for item in sublist:
        flat_list.append(item)

In [ ]:
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Index of an element in List

In [ ]:
c=flat_list.index(1)
print(c)

0

Get a Substring of a String

Substr *usually* works like this - Substr(s, beginning, LENGTH)

But, in Python it works like this - s[ beginning : beginning + LENGTH]

In [ ]:
string_1="Firstly this is the first string. Next is the second string."

In [ ]:
c=string_1[3:10]
print(c)

stly th

In [ ]:
def odd_string(items):
  for x in items.split(" "):
    if items.split(" ").index(x)%2!=0:
      print(x)

In [ ]:
odd_string(string_1)

this
the
string.
the
second
string.

#YouTube Questions

Write a Python Program to print the Prime Numbers between 2 numbers

In [ ]:
def primenos(x, y):
    prime_list = []
    for i in range(x, y):
        if i == 0 or i == 1:
            continue
        else:
            for j in range(2, int(i/2)+1):
                if i % j == 0:
                    break
            else:
                prime_list.append(i)
    print("The prime numbers between %s and %s are: %s" %(x, y, prime_list))
#    return prime_list

In [ ]:
primenos(0,10)

The prime numbers between 0 and 10 are: [2, 3, 5, 7]

In [ ]:
def prime(x,y):
  prime_list=[]
  for i in range(x, y):
    if i == 0 or i == 1:
      continue
    else:
      for j in range(2,int(i/2)+1):
        if i%j==0:
          break
      else:
          prime_list.append(i)
  return prime_list

In [ ]:
prime(0,10)

[2, 3, 5, 7]

Write a sort function to sort the elements in a list.

In [ ]:
prime_numbers = [11, 3, 7, 5, 2]

In [ ]:
#prime_numbers.sort()
prime_numbers.sort(reverse=True)

In [ ]:
print(prime_numbers)

[11, 7, 5, 3, 2]

In [ ]:
vowels = ['ea', 'abf', 'ucgh', 'odijk', 'ielmn']

In [ ]:
vowels.sort()
print(vowels)

['abf', 'ea', 'ielmn', 'odijk', 'ucgh']

In [ ]:
vowels.sort(reverse=True)
print(vowels)

['ucgh', 'odijk', 'ielmn', 'ea', 'abf']

In [ ]:
vowels.sort(key=len)
print(vowels)

['ea', 'abf', 'ucgh', 'odijk', 'ielmn']

In [ ]:
random = [(2, 2), (3, 4), (4, 1), (1, 3)]

In [ ]:
def sortSecondElement(elem):
  return elem[1]

In [ ]:
random.sort( key=sortSecondElement )

In [ ]:
print(random)

[(4, 1), (2, 2), (1, 3), (3, 4)]

In [ ]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [ ]:
def get_name(employee):
    return employee.get('Name')

def get_age(employee):
    return employee.get('age')

def get_salary(employee):
    return employee.get('salary')

In [ ]:
employees.sort(key=get_name)
print(employees, end='\n\n')

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

In [ ]:
employees.sort(key=get_salary,reverse=True)
print(employees, end='\n\n')

[{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}]

In [ ]:
employees.sort(key=get_age,reverse=True)
print(employees, end='\n\n')

[{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}]

Write a Sorting function withOUT using the list.sort function

In [ ]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]

In [1]:
def sort(item):
  s=[]
  for x in range(1,len(item)):
    if item[0]<

SyntaxError: ignored

In [6]:
data_list = [-5, -23, 5, 0, 23, -6, 23, 67]

In [31]:
data_list=['1','2','3','4']

In [32]:
%timeit x=data_list[::-1]
print(x)

The slowest run took 12.54 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 5: 125 ns per loop
['4', '3', '2', '1']

In [34]:
print(data_list.reverse())

None