<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/FB_DE_interviewPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python: Easy (tags: list, string, hashtable)**


1. Complete a function that returns the number of times a given character occurs in the given string

    For example:
     - input string = "mississippi"
     - char = "s"
     - output : 4
  
2. Fill in the blanks: Given an array containing None values fill in the None values with most recent non None value in the array
    
    For example:
    - input array: [1,None,2,3,None,None,5,None]
    - output array: [1,1,2,3,3,3,5,5]
    
    Ensure you take care of case input[None] which means None object.

3. Complete a function that returns a list containing all the mismatched words (case sensitive) between two given input strings

    For example:
    - string 1 : "Firstly this is the first string"
    - string 2 : "Next is the second string"
    - output : ['Firstly', 'this', 'first', 'Next', 'second']

4. Find common words in 2 sentences

5. Given two sentences, construct an array that has the words that appear in one sentence and not the other.

6. Given an array of integers, we would like to determine whether the array is monotonic (non-decreasing/non-increasing) or not.
    
    Examples:
    - 1 2 5 5 8 --> true
    - 9 4 4 2 2 --> true
    - 1 4 6 3 --> false
    - 1 1 1 1 1 1 --> true   

7. Valid ip address, edge case to remember is if there are alphanumeric characters.

8. Count distinct words in a sentence

9. Count the number of times a word appear in a sentence using a Hash Map

10. Return tuples of a list, matching each item to another item

11. Count the number of times a substring appear in a string

12. Calculate the average word length.
    For the given set of words return the average word length.

13. want you to write me a simple spell checking engine.

In [1]:
state='new jersey'

In [2]:
def cnt(items):
  for x in set(items):
    c=items.count(x)
    print("The number of times %s appears in %s is %s" %(x, items ,c))

In [3]:
cnt(state)

The number of times s appears in new jersey is 1
The number of times y appears in new jersey is 1
The number of times   appears in new jersey is 1
The number of times e appears in new jersey is 3
The number of times r appears in new jersey is 1
The number of times j appears in new jersey is 1
The number of times w appears in new jersey is 1
The number of times n appears in new jersey is 1

In [4]:
cnt("missisipi")
print("xxxxxxxx")
cnt('new york')
print("xxxxxxxx")
cnt('New Hampshire')

The number of times p appears in missisipi is 1
The number of times s appears in missisipi is 3
The number of times i appears in missisipi is 4
The number of times m appears in missisipi is 1
xxxxxxxx
The number of times y appears in new york is 1
The number of times o appears in new york is 1
The number of times   appears in new york is 1
The number of times e appears in new york is 1
The number of times r appears in new york is 1
The number of times w appears in new york is 1
The number of times k appears in new york is 1
The number of times n appears in new york is 1
xxxxxxxx
The number of times s appears in New Hampshire is 1
The number of times H appears in New Hampshire is 1
The number of times h appears in New Hampshire is 1
The number of times p appears in New Hampshire is 1
The number of times   appears in New Hampshire is 1
The number of times e appears in New Hampshire is 2
The number of times N appears in New Hampshire is 1
The number of times i appears in New Hampshire is 1
The number of times a appears in New Hampshire is 1
The number of times r appears in New Hampshire is 1
The number of times w appears in New Hampshire is 1
The number of times m appears in New Hampshire is 1

In [5]:
x=[1,None,2,3,None,None,5,None]
x=[None]

In [6]:
for i,e in enumerate(x[:-1],1):
  if x[i]==None:
    x[i]=x[i-1]
print(x)

[None]

In [7]:
for i,e in enumerate(x[:-1],1):
  if x[i]==None:
    x[i]=x[i-1]
print(x)

[None]

In [8]:
string_1="Firstly this is the first string"
string_2="Next is the second string"

In [9]:
l1=[x.lower() for x in string_1.split(" ") if x not in [x.lower() for x in string_2.split(" ")]]
l2=[x.lower() for x in string_2.split(" ") if x not in [x.lower() for x in string_1.split(" ")]]
l3=l1+l2

In [10]:
print(l3)

['firstly', 'this', 'first', 'next', 'second']

In [11]:
l4=[x for x in string_1.split(" ") if x in [x for x in string_2.split(" ")]]
print(l4)

['is', 'the', 'string']

Given two sentences, construct an array that has the words that appear in one sentence and not the other

In [12]:
s1 = "this apple is sweet"
s2 = "this apple is sour"

In [13]:
l1=[x for x in s1.split(" ") if x not in [x for x in s2.split(" ")]]
l2=[x for x in s2.split(" ") if x not in [x for x in s1.split(" ")]]
l3=l1+l2
print(l3)

['sweet', 'sour']

**Given an array of integers, we would like to determine whether the array is monotonic (non-decreasing/non-increasing) or not.**
    
    Examples:
    - 1 2 5 5 8 --> true
    - 9 4 4 2 2 --> true
    - 1 4 6 3 --> false
    - 1 1 1 1 1 1 --> true

**Valid ip address, edge case to remember is if there are alphanumeric characters.**

**Count Distinct Words in a Sentence**

In [14]:
string_1="Firstly this is the first string. Next is the second string."

In [15]:
def distinct_words(items):
  c=0
  for x in items.split(" "):
    if items.count(x)==1:
      c+=1
  return c

In [16]:
distinct_words(string_1)

5

**Count the number of times a word appears in a sentence using HashMap**

In [17]:
string_1="Firstly this is the first string. Next is the second string."

In [18]:
def count_each_word(items):
  for x in items.split(" "):
    c=items.count(x)
    print("The word-- %s --appears %s time(s) in the sentence %s" %(x, c, items) )

In [19]:
count_each_word(string_1)

The word-- Firstly --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- this --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- is --appears 3 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- the --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- first --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- string. --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- Next --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- is --appears 3 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- the --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- second --appears 1 time(s) in the sentence Firstly this is the first string. Next is the second string.
The word-- string. --appears 2 time(s) in the sentence Firstly this is the first string. Next is the second string.

**Return tuples of a list, matching each item to another item**

**Count the number of times a substring appear in a string**

In [20]:
string_1="Firstly this is the first string. Next is the second string."

In [21]:
def cnt_string(parent,str):
  cnt=parent.lower().count(str.lower())
  return cnt

In [22]:
cnt_string(string_1, 'the')

2

In [23]:
cnt_string(string_1, 'string')

2

In [24]:
cnt_string(string_1, 'Firstly')

1

In [25]:
cnt_string(string_1, 'firstly')

1

**Calculate the average word length. For the given set of words return the average word length.**

#**Below are Obtained from StackOverFlow**

**How to make a flat list out of a list of lists?**

In [33]:
l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

In [34]:
flat_list = [item for sublist in l for item in sublist]

In [35]:
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
flat_list = []
for sublist in l:
    for item in sublist:
        flat_list.append(item)

In [37]:
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Index of an element in List

In [40]:
c=flat_list.index(1)
print(c)

0

Get a Substring of a String

Substr *usually* works like this - Substr(s, beginning, LENGTH)

But, in Python it works like this - s[ beginning : beginning + LENGTH]

In [44]:
string_1="Firstly this is the first string. Next is the second string."

In [45]:
c=string_1[3:10]
print(c)

stly th

In [50]:
def odd_string(items):
  for x in items.split(" "):
    if items.split(" ").index(x)%2!=0:
      print(x)

In [51]:
odd_string(string_1)

this
the
string.
the
second
string.