<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/JustPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import statsmodels.api as sm

In [3]:
# Import data that will be used to construct confidence interval of population mean
df = pd.read_csv("https://raw.githubusercontent.com/UMstatspy/UMStatsPy/master/Course_1/Cartwheeldata.csv")

In [4]:
df

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [5]:
df.Height.describe()

count    25.000000
mean     67.650000
std       4.431187
min      61.500000
25%      64.000000
50%      68.000000
75%      71.000000
max      75.000000
Name: Height, dtype: float64

In [6]:
sm.stats.DescrStatsW(df['Height']).zconfint_mean()

(65.91300668334998, 69.38699331665003)

In [7]:
sm.stats.DescrStatsW(df['Height']).ztest_mean()

(76.33395147993528, 0.0)

In [8]:
sm.stats.DescrStatsW(df['Height']).ztest_mean(0.5)

(75.76976854216784, 0.0)

In [9]:
import scipy.stats
import numpy as np

In [14]:
def confidence_interval(data,confidence=0.95):
  a=np.array(data)*1
  n=len(a)
  mean , se = np.mean(a) , scipy.stats.sem(a)
  h= se * scipy.stats.t.ppf((1+confidence)/2,n-1)
  return mean,se , mean-h , mean+h

In [15]:
confidence_interval(df.Height)

(67.65, 0.8862373647430279, 65.82089597764586, 69.47910402235415)

In [30]:
confidence_interval(df[df['Gender']=="M"].Height)

(71.1923076923077, 0.7414868585087824, 69.57674661196194, 72.80786877265345)

In [37]:
mean , se ,lb, ub=confidence_interval(df[df['Gender']=="M"].Height)

In [38]:
mean , se , lb ,ub

(71.1923076923077, 0.7414868585087824, 69.57674661196194, 72.80786877265345)

In [28]:
just_M_H=df[df['Gender']=="M"].Height

In [29]:
just_M_H

4     73.0
5     75.0
6     75.0
8     74.0
10    69.5
14    73.0
15    71.0
17    66.0
18    70.0
20    69.0
21    71.0
22    70.0
23    69.0
Name: Height, dtype: float64