<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/JustPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import statsmodels.api as sm

In [14]:
# Import data that will be used to construct confidence interval of population mean
df = pd.read_csv("https://raw.githubusercontent.com/UMstatspy/UMStatsPy/master/Course_1/Cartwheeldata.csv")

In [16]:
df

    ID  Age Gender  GenderGroup  ... CWDistance  Complete  CompleteGroup  Score
0    1   56      F            1  ...         79         Y              1      7
1    2   26      F            1  ...         70         Y              1      8
2    3   33      F            1  ...         85         Y              1      7
3    4   39      F            1  ...         87         Y              1     10
4    5   27      M            2  ...         72         N              0      4
5    6   24      M            2  ...         81         N              0      3
6    7   28      M            2  ...        107         Y              1     10
7    8   22      F            1  ...         98         Y              1      9
8    9   29      M            2  ...        106         N              0      5
9   10   33      F            1  ...         65         Y              1      8
10  11   30      M            2  ...         96         Y              1      6
11  12   28      F            1  ...         79         Y              1     10
12  13   25      F            1  ...         92         Y              1      6
13  14   23      F            1  ...         66         Y              1      4
14  15   31      M            2  ...         72         Y              1      9
15  16   26      M            2  ...        115         Y              1      6
16  17   26      F            1  ...         90         N              0     10
17  18   27      M            2  ...         74         Y              1      5
18  19   23      M            2  ...         64         Y              1      3
19  20   24      F            1  ...         85         Y              1      8
20  21   23      M            2  ...         66         N              0      2
21  22   29      M            2  ...        101         Y              1      8
22  23   25      M            2  ...         82         Y              1      4
23  24   26      M            2  ...         63         Y              1      5
24  25   23      F            1  ...         67         N              0      3

[25 rows x 12 columns]

In [15]:
df.Height.describe()

count    25.000000
mean     67.650000
std       4.431187
min      61.500000
25%      64.000000
50%      68.000000
75%      71.000000
max      75.000000
Name: Height, dtype: float64

In [29]:
sm.stats.DescrStatsW(df['Height']).zconfint_mean()

(65.91300668334998, 69.38699331665003)

In [32]:
sm.stats.DescrStatsW(df['Height']).ztest_mean()

(76.33395147993528, 0.0)

In [33]:
sm.stats.DescrStatsW(df['Height']).ztest_mean(0.5)

(75.76976854216784, 0.0)