<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/Python3_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Here is a practice session for List, Tuples, Dictionaries in **Python3**

##The **LIST** exercises have been obtained from [here](https://www.w3resource.com/python-exercises/list/python-data-type-list-exercise-1.php)

We will do a **sum** of elements of the List

In [31]:
list1= [1,2,3,4]
print(type(list1))

<class 'list'>

In [35]:
#The below function performs a sum of all the elements of List.
#First we have to define a variable "total" and equal it to 0
#Then we iterate the FOR loop for n times. 
#n being number of elements in the List.

def sum(items):
  print("The sum of List %s is: " % (items) ) 
  total=0
  for x in items:
    total += x
  return total

In [36]:
sum(list1)

The sum of List [1, 2, 3, 4] is:

10

In [37]:
list2=[-3,8,24,-48,89,-63]
sum(list2)

The sum of List [-3, 8, 24, -48, 89, -63] is:

7

Similar to above **sum** example we will now multiply the items in each list.

In [40]:
def multiply(items):
  print("The product of items in list %s is: " %(items) )
  product=1
  for x in items:
    product*=x
  return product

In [41]:
multiply(list1)

The product of items in list [1, 2, 3, 4] is:

24

In [42]:
multiply(list2)

The product of items in list [-3, 8, 24, -48, 89, -63] is:

-155022336