<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/Python3_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Here is a practice session for **Tuple** in Python3

####Tuples are used to store multiple items in a single variable.

####Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

####A tuple is a collection which is ordered and **unchangeable**.

####Tuples are written with round brackets.

####Below some of the **Tuple** exercises have been obtained from [here](https://www.w3resource.com/python-exercises/tuple/)

####And some are just random google search.

#### This can serve you and me for quick reference.

####Remember 


1.   Practice
2.   Revisit after 3 days.
3. Revisit after a week.
 
#####And I am nailed in your brain.

**Create a Tuple with numbers and display a member**

In [1]:
tuplex= 5,10, 15,20,25

In [2]:
print(tuplex)

(5, 10, 15, 20, 25)

In [3]:
print(type(tuplex))

<class 'tuple'>

**Unpack a Tuple**

The number of variables must be equal to the number of items of the Tuple

In [4]:
n1, n2, n3 ,n4 ,n5= tuplex

In [5]:
print(n1+n2+n3+n4+n5)

75

In [6]:
tuplex

(5, 10, 15, 20, 25)

Convert a Tuple to a List

In [7]:
my_list_tuple=list(tuplex)

In [8]:
print(my_list_tuple)

[5, 10, 15, 20, 25]

**Convert a Tuple to a String**

In [9]:
tup_to_string=[str(x) for x in tuplex]

In [10]:
tup_to_string

['5', '10', '15', '20', '25']

In [11]:
str=''.join(tup_to_string)

In [12]:
str

'510152025'

In [13]:
print(tuplex)

(5, 10, 15, 20, 25)

In [14]:
h='hello'

In [15]:
r=h[::-1]

In [16]:
r

'olleh'

In [17]:
tuplex

(5, 10, 15, 20, 25)

In [18]:
tuplex[3]

20

In [19]:
tuplex[-4]

10

**Find Repeated items of a tuple**

In [20]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7

In [21]:
cnt=tuplex.count(2)
print(cnt)

2

**Check if an Element exists in Tuple**

In [22]:
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

In [23]:
print('a' in tuplex)

False

In [24]:
print('e' in tuplex)

True

In [25]:
tuple_to_list=list(tuplex)

In [26]:
tuple_to_list

['w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e']

In [27]:
list_to_tuple=tuple(tuple_to_list)

In [28]:
list_to_tuple

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [29]:
remove_3=list_to_tuple[:1]+list_to_tuple[2:]

In [30]:
remove_3

('w', 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

**Slice a Tuple**

In [31]:
print(len(list_to_tuple))

10

In [32]:
print(list_to_tuple[:5])

('w', 3, 'r', 'e', 's')

In [33]:
print(list_to_tuple[-5:])

('o', 'u', 'r', 'c', 'e')

In [34]:
print(list_to_tuple[:-5])

('w', 3, 'r', 'e', 's')

**Find the Index of the Item**

In [35]:
print(list_to_tuple)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [36]:
i=list_to_tuple.index('r')
print(i)

2

In [37]:
i=list_to_tuple.index(3)
print(i)

1

In [38]:
name=('arpit', 'meera', 'mehr', 'mahya', 'sharma')

In [39]:
name_list=list(name)
print(name_list)

['arpit', 'meera', 'mehr', 'mahya', 'sharma']

In [40]:
min_name_len=min([len(x) for x in name_list])

In [41]:
print(min_name_len)

4

In [42]:
print(max([len(x) for x in name_list]))

6

**Convert a Tuple to Dictionary**

In [43]:
binary_tuple=(("arpit",37),("meera",36),("mehr",6) ,("mahya",3))

In [44]:
bi_dic=dict(binary_tuple)

In [45]:
bi_dic

{'arpit': 37, 'mahya': 3, 'meera': 36, 'mehr': 6}

**Unizip a List of Tuples into Individual Lists**

In [46]:
print(list(zip(*binary_tuple)))

[('arpit', 'meera', 'mehr', 'mahya'), (37, 36, 6, 3)]

**Reverse a Tuple**

In [47]:
print(list_to_tuple)

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [48]:
r=tuple(reversed(list_to_tuple))

In [49]:
print(r)

('e', 'c', 'r', 'u', 'o', 's', 'e', 'r', 3, 'w')

Convert a List of tuples into Dictionary

In [50]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

In [51]:
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [52]:
list_to_tuple

('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

In [53]:
print("This is a tuple {0}".format(list_to_tuple))

This is a tuple ('w', 3, 'r', 'e', 's', 'o', 'u', 'r', 'c', 'e')

**Replace Last value of Tuples in a List**

In [54]:
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [55]:
replaced_l=[t[:-1]+(100,) for t in l]

In [56]:
print(replaced_l)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**Replace any empty tuple from list of tuples**

In [57]:
 empty_tuple=[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

In [58]:
replaced_tuple=[t for t in empty_tuple if t]

In [59]:
print(replaced_tuple)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

**Sort a Tuple by its float element**

In [60]:
l=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [61]:
def sort_tuple(item):
  item.sort(key = lambda x: x[1], reverse=True)
  return item

In [62]:
sort_tuple(l)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

**count the elements in a list until an element is a tuple.**

In [63]:
num = [10,20,30,(10,20),40]

In [70]:
def cnt(item):
  cnt=0
  for x in item:
    if type(x)==tuple:
      break
    cnt+=1
  return cnt

In [71]:
cnt(num)

3

In [66]:
ctr = 0
for n in num:
    if isinstance(n, tuple):
        break
    ctr += 1
print(ctr)

3

Convert String to Tuple

In [73]:
string="The quick brown fox jumps over the lazy dog"

In [74]:
str_to_tuple=tuple(string)

In [78]:
s=[t for t in str_to_tuple if len(t)>0]

In [79]:
s

['T',
 'h',
 'e',
 ' ',
 'q',
 'u',
 'i',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'o',
 'w',
 'n',
 ' ',
 'f',
 'o',
 'x',
 ' ',
 'j',
 'u',
 'm',
 'p',
 's',
 ' ',
 'o',
 'v',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'l',
 'a',
 'z',
 'y',
 ' ',
 'd',
 'o',
 'g']

**Convert a Tuple numbers into Integer**

In [91]:
tuple=(1,2,3)

In [94]:
def tuple_to_int(nums):
  result=int(''.join(map(str(),nums)))
  return result

In [95]:
tuple_to_int(tuple)

TypeError: ignored

AttributeError: ignored