<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/Python3_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Here is a practice session for **List** in Python3

##Lists are used to store multiple items in a single variable.

##Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are **Tuple**, **Set** and **Dictionary**.

##All of them have different qualities and usage.

##Below some of the **LIST** exercises have been obtained from [here](https://www.w3resource.com/python-exercises/list/)

##And some are just random google search.

## This can serve you and me for quick reference.

##Remember 


1.   Practice
2.   Revisit after 3 days.
3. Revisit after a week.
 
And I am nailed in your brain.

We will do a **sum** of elements of the List

In [ ]:
import random
list1 = random.sample(range(-10, 10), 9)
list2 = random.sample(range(-5, 5), 7)
print(type(list1))

<class 'list'>

In [ ]:
#The below function performs a sum of all the elements of List.
#First we have to define a variable "total" and equal it to 0
#Then we iterate the FOR loop for n times. 
#n being number of elements in the List.

def sum(items):
  total=0
  for x in items:
    total += x
  print("The sum of List %s is: %s " % (items, total) )

In [ ]:
sum(list1)

The sum of List [7, 3, 4, -8, -3, -10, -7, -5, -6] is: -25

In [ ]:
sum(list2)

The sum of List [4, -1, -3, -5, 3, 1, -4] is: -5

Similar to above **sum** example we will now multiply the items in each list.

In [ ]:
#The below function performs a product of all the elements of List.
#First we have to define a variable "product" and equal it to 1
#Then we iterate the FOR loop for n times. 
#n being number of elements in the List.

def product(items):
  product=1
  for x in items:
    product*=x
  print("The product of items in list %s is: %s " %(items , product) )

In [ ]:
product(list1)

The product of items in list [7, 3, 4, -8, -3, -10, -7, -5, -6] is: 4233600

In [ ]:
product(list2)

The product of items in list [4, -1, -3, -5, 3, 1, -4] is: 720

Now we will select the **Largest** and **Smallest** number from the list.[link text](https://)

In [ ]:
'''
The below function performs a sorting of all the elements of List.
Once the sorting has been performed on the list we then select the 
last element of the list.
'''

def largest(items):
  items.sort()
  largest=items[-1]
  smallest=items[0]
  print("The largest element in the list %s is : %s" %(items, largest) )
  print("The smallest element in the list %s is : %s" %(items, smallest) )

In [ ]:
largest(list1)
largest(list2)

The largest element in the list [-10, -8, -7, -6, -5, -3, 3, 4, 7] is : 7
The smallest element in the list [-10, -8, -7, -6, -5, -3, 3, 4, 7] is : -10
The largest element in the list [-5, -4, -3, -1, 1, 3, 4] is : 4
The smallest element in the list [-5, -4, -3, -1, 1, 3, 4] is : -5

In [ ]:
'''
In the above example, we are sorting and then selecting the last element.
More efficient approach could be the use of max()
'''

def largest_smallest(items):
  largest=max(items)
  smallest=min(items)
  print("The largest element in the list %s is: %s" %(items, largest) )
  print("The smallest element in the list %s is: %s" %(items,smallest))

In [ ]:
largest_smallest(list1)
largest_smallest(list2)

The largest element in the list [-10, -8, -7, -6, -5, -3, 3, 4, 7] is: 7
The smallest element in the list [-10, -8, -7, -6, -5, -3, 3, 4, 7] is: -10
The largest element in the list [-5, -4, -3, -1, 1, 3, 4] is: 4
The smallest element in the list [-5, -4, -3, -1, 1, 3, 4] is: -5

Count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [ ]:
ex5=['abc','xyz','aba','1221']

In [ ]:
def match_words(words):
  ctr=0

  for word in words:
    if len(word)>1 and word[0] == word[-1]:
      ctr+=1
  return ctr

In [ ]:
print(match_words(ex5))

2

Removing **Duplicates** from the list

In [ ]:
'''
To remove the duplicates from the list using set() method is one of the efficient ways.
Note: The ordering is lost using this method.
'''

def duplicates(items):
  unique=list(set(items))
  return unique

In [ ]:
#creating a list of random numbers.
list_with_duplicates=random.sample(range(5,10),5)

#just creating a list with duplicates.
list_with_duplicates2=list_with_duplicates+list_with_duplicates
print(list_with_duplicates2) #visualizing the duplicate list.

#testing the function.
duplicates(list_with_duplicates)

[9, 6, 8, 5, 7, 9, 6, 8, 5, 7]

[5, 6, 7, 8, 9]

In [ ]:
'''
Alternatively, we can use - collections.OrderedDict.fromkeys()
-Fastest.
-But returns a dictionary
-Need to convert the dictionary into List
'''
from collections import OrderedDict
unique_without_set = list(OrderedDict.fromkeys(list_with_duplicates2))

print(unique_without_set)

[9, 6, 8, 5, 7]

Identifying **Empty List**

In [ ]:
empty_list=[]
not_empty_list=[1,2]

In [ ]:
#Empty lists are considered False in Python. 
#Hence the bool() function would return False if the list was passed as an argument.
def empty(items):
  if not items:
    print("List is Empty")
  else:
    print("List is NOT Empty")

In [ ]:
empty(empty_list)
empty(not_empty_list)

List is Empty
List is NOT Empty

**Find words in a list that are longer than n**

In [ ]:
long_list=['a','as','and','alpha','arpit','alaska','america','alphanumeric']

In [ ]:
def lenwords(items,n):
  list_words=[]
  for x in items:
    if len(x)>n:
      list_words.append(x)
  return list_words

In [ ]:
lenwords(long_list,6)

['america', 'alphanumeric']

**Similarly we need to find list of words that are longer than n from a given list of words.**

In [ ]:
long_string="Arpit is going to eat ice-cream and then he will eat his dinner kept on kitchen counter"

In [ ]:
def long_words(items,n):
  word_len=[]
  txt=items.split(" ")
  for x in txt:
    if len(x)>n:
      word_len.append(x)
  return word_len

In [ ]:
long_words(long_string,6)

['ice-cream', 'kitchen', 'counter']

In [ ]:
long_words(long_string,4)

['Arpit', 'going', 'ice-cream', 'dinner', 'kitchen', 'counter']

**Finding if any elements of the two lists are common.**

Listing out elements that are common 

And

Listing out elements that are NOT present in Either of the List.

In [ ]:
long_list=['a','as','and','alpha','arpit','alaska','america','alphanumeric']
similar_list=['i','dont','like','alaska','arpit']
nowhere=['never','ever']

In [ ]:
def find_match(list1,list2):
  common_list=[]
  for x in list1:
    for y in list2:
      if x==y:
        common_list.append(x)
  return common_list

In [ ]:
common_list = find_match(long_list,similar_list)
print(common_list)

['arpit', 'alaska']

In [ ]:
l3=[x for x in long_list if x not in common_list]
l4 = [x for x in similar_list if x not in common_list]

In [ ]:
print(l3)
print(l4)

['a', 'as', 'and', 'alpha', 'america', 'alphanumeric']
['i', 'dont', 'like']

In [ ]:
l5=l3+l4
print(l5)

['a', 'as', 'and', 'alpha', 'america', 'alphanumeric', 'i', 'dont', 'like']

In [ ]:
from collections import OrderedDict
def mismatch_string(list1,list2):
  mismatch_list=[]
  for x in list1:
    for y in list2:
      if x != y:
        mismatch_list.append(x)
#  return list(set(mismatch_list))
  return list(OrderedDict.fromkeys(mismatch_list))

In [ ]:
mismatch_string(long_list, similar_list)

['a', 'as', 'and', 'alpha', 'arpit', 'alaska', 'america', 'alphanumeric']

Identify is two lists have any element in common.

If they have even a single element in common- Return True

Else Return False

In [ ]:
def true_false(list1, list2):
  result=False
  for x in list1:
    for y in list2:
      if x==y:
        result=True
        break
  return result

In [ ]:
true_false(long_list,similar_list)

True

In [ ]:
true_false(long_list,nowhere)

False

**Print a specified list after removing the 0th, 4th and 5th element.**

In [ ]:
'''
Below is just the use of Pop function.
But the use of Pop() is NOT recommended for problems like these.
The original list gets updated once you use the pop(). 
So the 4th and the 5th element will get updated everytime you pop().
'''
def pop_element_list(list1, n):
  updated_list=list1.pop(n)
  return list1

In [ ]:
pop_element_list(long_list,0)

['and', 'alpha', 'arpit', 'alaska', 'america', 'alphanumeric']

In [ ]:
print(long_list)

['and', 'alpha', 'arpit', 'alaska', 'america', 'alphanumeric']

In [ ]:
new_long_list=[x for (i,x) in enumerate(long_list) if i not in (0,4,5)]
print(new_long_list)

['alpha', 'arpit', 'alaska']

Generate a 3*4*6 3D array whose each element is *(star)

In [ ]:
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]
print(array)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

**Even/Odd Identification**

In [ ]:
list_even_odd=random.sample(range(10,100),20)

In [ ]:
def even_odd(items):
  even=[]
  odd=[]
  for x in items:
    if x%2==0:
      even.append(x)
    else:
      odd.append(x)
  print("The Even numbers from the list are %s" %(even) )
  print("The Odd  numbers from the list are %s" %(odd) )

In [ ]:
even_odd(list_even_odd)

The Even numbers from the list are [54, 36, 58, 30, 10, 22, 80, 20]
The Odd  numbers from the list are [19, 21, 25, 71, 43, 11, 41, 69, 27, 37, 83, 91]

**Count the Number of Times a Character appears in the String**

In [ ]:
string="The quick brown Fox jumps over the lazy dog"

In [ ]:
def count(items,character):
  cnt=0
  det_list= [char.lower() for char in items]
  for x in det_list:
    if x==character and character != " ":
      cnt+=1
  return cnt

In [ ]:
count(string,'z')

1

**Upper/Lower Cases**

In [ ]:
long_list=['a','as','and','alpha','arpit','alaska','america','alphanumeric']
similar_list=['i','dont','like','alaska','arpit']

In [ ]:
def mismatch_list(item1,item2):
  l1=[x.lower() for x in item1 if x.lower() not in [x.lower() for x in item2]]
  l2=[x.lower() for x in item2 if x.lower() not in [x.lower() for x in item1]]
  l3=l1+l2
  return l3

In [ ]:
mismatch_list(long_list,similar_list)

['a', 'as', 'and', 'alpha', 'america', 'alphanumeric', 'i', 'dont', 'like']

In [ ]:
lower_string=[x.lower() for x in string.split(" ")]

In [ ]:
lower_string

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
upper_string=[x.upper() for x in string.split(" ")]

In [ ]:
upper_string

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

**Find the Average Length of the String**

In [ ]:
def average(item):
  n=len(item)
  tot=0
  for x in item:
    tot+=len(x)
  return round(tot/n,2)

In [ ]:
average(upper_string)

3.89

In [ ]:
def max_string(item):
  m=max(len(item) for item in upper_string)
  return m

In [ ]:
max_string(upper_string)

5

In [ ]:
def min_string(item):
  m=min(len(item) for item in upper_string)
  return m

In [ ]:
min_string(upper_string)

3

**Reversing the List**

In [ ]:
reverse_string=upper_string[::-1]

In [ ]:
print(reverse_string)

['DOG', 'LAZY', 'THE', 'OVER', 'JUMPS', 'FOX', 'BROWN', 'QUICK', 'THE']

In [ ]:
reverse_string=

In [ ]:
#reverse() modifies the list in place.
upper_string.reverse()
print(upper_string)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [ ]:
r_element=[x[::-1] for x in upper_string]

In [ ]:
print(r_element)

['EHT', 'KCIUQ', 'NWORB', 'XOF', 'SPMUJ', 'REVO', 'EHT', 'YZAL', 'GOD']

In [ ]:
print(string)

The quick brown Fox jumps over the lazy dog

In [ ]:
s=[x[::-1] for x in string.split(" ")]

In [ ]:
print(s)

['ehT', 'kciuq', 'nworb', 'xoF', 'spmuj', 'revo', 'eht', 'yzal', 'god']