<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/Python3_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Here is a practice session for List, Tuples, Dictionaries in **Python3**

##The **LIST** exercises have been obtained from [here](https://www.w3resource.com/python-exercises/list/)

We will do a **sum** of elements of the List

In [8]:
import random
list1 = random.sample(range(-10, 10), 9)
list2 = random.sample(range(-30, 30), 10)
print(type(list1))

<class 'list'>

In [9]:
#The below function performs a sum of all the elements of List.
#First we have to define a variable "total" and equal it to 0
#Then we iterate the FOR loop for n times. 
#n being number of elements in the List.

def sum(items):
  print("The sum of List %s is: " % (items) ) 
  total=0
  for x in items:
    total += x
  return total

In [10]:
sum(list1)

The sum of List [-1, -2, 9, -5, -10, 1, -6, 3, 7] is:

-4

In [11]:
sum(list2)

The sum of List [-5, -9, 25, 10, -24, -21, -16, 2, 16, -25] is:

-47

Similar to above **sum** example we will now multiply the items in each list.

In [12]:
def multiply(items):
  print("The product of items in list %s is: " %(items) )
  product=1
  for x in items:
    product*=x
  return product

In [13]:
multiply(list1)

The product of items in list [-1, -2, 9, -5, -10, 1, -6, 3, 7] is:

-113400

In [14]:
multiply(list2)

The product of items in list [-5, -9, 25, 10, -24, -21, -16, 2, 16, -25] is:

72576000000