<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/SimpleLinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [6]:
df2 = pd.DataFrame(np.array([[503,19,9],
[269,10,9],
[243,9,9],
[425,16,9],
[295,11,9],
[191,7,9],
[165,6,9],
[295,11,9],
[503,19,9],
[451,17,9],
[529,20,9],
[269,10,9],
[217,8,9],
[529,20,9],
[295,11,9],
[191,7,9],
[191,7,9],
[477,18,9],
[425,16,9],
[87,3,9]
]),
                   columns=['y', 'x', 'c'])

In [22]:
df2

      y   x  c
0   503  19  9
1   269  10  9
2   243   9  9
3   425  16  9
4   295  11  9
5   191   7  9
6   165   6  9
7   295  11  9
8   503  19  9
9   451  17  9
10  529  20  9
11  269  10  9
12  217   8  9
13  529  20  9
14  295  11  9
15  191   7  9
16  191   7  9
17  477  18  9
18  425  16  9
19   87   3  9

In [40]:
import sklearn as sk
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import datasets, linear_model

In [59]:
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [60]:
X=df2.drop(columns=['y'])

In [61]:
target = pd.DataFrame(data=df2, columns=["y"])

In [62]:
target

      y
0   503
1   269
2   243
3   425
4   295
5   191
6   165
7   295
8   503
9   451
10  529
11  269
12  217
13  529
14  295
15  191
16  191
17  477
18  425
19   87

In [63]:
y=target['y']

In [64]:
lm = linear_model.LinearRegression()
model = lm.fit(X,y)

In [65]:
lm=linear_model.LinearRegression()
model=lm.fit(X,y)

In [66]:
#predictions = lm.predict(X)
#print(predictions)[0:5]

predictions=lm.predict(X)
print(predictions)

[503. 269. 243. 425. 295. 191. 165. 295. 503. 451. 529. 269. 217. 529.
 295. 191. 191. 477. 425.  87.]

In [67]:
lm.score(X,y)

1.0

In [68]:
lm.coef_

array([26.,  0.])

In [69]:
lm.intercept_

9.000000000000114

In [70]:
data = datasets.load_boston()

In [72]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [73]:
df

        CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0    0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1    0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2    0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3    0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4    0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33
..       ...   ...    ...   ...    ...  ...  ...    ...      ...     ...    ...
501  0.06263   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  391.99   9.67
502  0.04527   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   9.08
503  0.06076   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   5.64
504  0.10959   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  393.45   6.48
505  0.04741   0.0  11.93   0.0  0.573  ...  1.0  273.0     21.0  396.90   7.88

[506 rows x 13 columns]

In [74]:
target = pd.DataFrame(data.target, columns=["MEDV"])

In [75]:
target

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [90]:
X=df[['RM','AGE']]
X1=df['RM']
y=target['MEDV']

In [91]:
X

        RM   AGE
0    6.575  65.2
1    6.421  78.9
2    7.185  61.1
3    6.998  45.8
4    7.147  54.2
..     ...   ...
501  6.593  69.1
502  6.120  76.7
503  6.976  91.0
504  6.794  89.3
505  6.030  80.8

[506 rows x 2 columns]

In [92]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [93]:
model=sm.OLS(y,X).fit()
model1=sm.OLS(y,X1).fit()

In [95]:
predictions = model.predict(X)

In [97]:
predictions1 = model1.predict(X1)

In [98]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   MEDV   R-squared (uncentered):                   0.923
Model:                            OLS   Adj. R-squared (uncentered):              0.922
Method:                 Least Squares   F-statistic:                              3004.
Date:                Thu, 07 Oct 2021   Prob (F-statistic):                   8.88e-281
Time:                        02:51:39   Log-Likelihood:                         -1685.7
No. Observations:                 506   AIC:                                      3375.
Df Residuals:                     504   BIC:                                      3384.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
RM             4.8798      0.115     42.567      0.000       4.655       5.105
AGE           -0.1151      0.010    -11.765      0.000      -0.134      -0.096
==============================================================================
Omnibus:                      191.832   Durbin-Watson:                   0.563
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              783.239
Skew:                           1.688   Prob(JB):                    8.35e-171
Kurtosis:                       8.074   Cond. No.                         28.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [99]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   MEDV   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.901
Method:                 Least Squares   F-statistic:                              4615.
Date:                Thu, 07 Oct 2021   Prob (F-statistic):                   3.74e-256
Time:                        02:51:48   Log-Likelihood:                         -1747.1
No. Observations:                 506   AIC:                                      3496.
Df Residuals:                     505   BIC:                                      3500.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
RM             3.6534      0.054     67.930      0.000       3.548       3.759
==============================================================================
Omnibus:                       83.295   Durbin-Watson:                   0.493
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              152.507
Skew:                           0.955   Prob(JB):                     7.65e-34
Kurtosis:                       4.894   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [101]:
lm = linear_model.LinearRegression()

In [111]:
model2 = lm.fit(X,y)
#model=lm.fit(X,y)

In [112]:
predictions2 = model2.predict(X)

In [114]:
predictions2.summary()

AttributeError: ignored