<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/UniversityOf_Michigan_InferentialStatisticalAnalysis_Week1_LambdaFunc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def positive2negative(x):
  if x>=0:
    y=x*-1
    return y
  else:
    return x

In [10]:
positive2negative(5.5)

-5.5

In [12]:
import numpy as np

In [34]:
my_number_array=np.random.randint(100,size=10)

In [35]:
my_number_array

array([ 4, 54,  2, 14, 36, 82, 80, 24, 75, 99])

In [36]:
np.amin(my_number_array)

2

In [37]:
np.amax(my_number_array)

99

In [43]:
np.sort(my_number_array)[-1]

99

In [44]:
def get_minimum_from_array(y):
  return np.amin(y)

In [48]:
y=[-3,0,2,100,-1,2]
get_minimum_from_array(y)

-3

In [49]:
lst1=[1,2,3]
lst2=[4,5,6]
str1='one'
str2='two'

In [62]:
matrix=np.array(([1,2],[3,4],[5,6]))

In [63]:
matrix

array([[1, 2],
       [3, 4],
       [5, 6]])

In [64]:
import pandas as pd

In [65]:
df = pd.DataFrame(matrix, columns = ['one','two'])

In [66]:
df

   one  two
0    1    2
1    3    4
2    5    6

In [69]:
normalized_df=(df)/(df.max())

In [70]:
normalized_df

   one       two
0  0.2  0.333333
1  0.6  0.666667
2  1.0  1.000000