<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/UniversityOf_Michigan_ConfidenceInterval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [8]:
url="https://raw.githubusercontent.com/kshedden/statswpy/master/NHANES/merged/nhanes_2015_2016.csv"
df=pd.read_csv(url)

In [9]:
df

       SEQN  ALQ101  ALQ110  ALQ130  ...  BMXARML  BMXARMC  BMXWAIST  HIQ210
0     83732     1.0     NaN     1.0  ...     43.6     35.9     101.1     2.0
1     83733     1.0     NaN     6.0  ...     40.0     33.2     107.9     NaN
2     83734     1.0     NaN     NaN  ...     37.0     31.0     116.5     2.0
3     83735     2.0     1.0     1.0  ...     37.7     38.3     110.1     2.0
4     83736     2.0     1.0     1.0  ...     36.0     27.2      80.4     2.0
...     ...     ...     ...     ...  ...      ...      ...       ...     ...
5730  93695     2.0     2.0     NaN  ...     37.0     29.5      95.0     2.0
5731  93696     2.0     2.0     NaN  ...     41.8     42.3     110.2     2.0
5732  93697     1.0     NaN     1.0  ...     37.5     28.8       NaN     2.0
5733  93700     NaN     NaN     NaN  ...     37.5     30.6      98.9     2.0
5734  93702     1.0     NaN     2.0  ...     33.5     26.2      72.5     2.0

[5735 rows x 28 columns]

In [10]:
df['GENDER']=np.where(df['RIAGENDR']==1,'Male','Female')

In [11]:
df.GENDER.value_counts()

Female    2976
Male      2759
Name: GENDER, dtype: int64

In [12]:
df.RIDRETH1.value_counts()

3    1839
4    1227
1    1018
5     901
2     750
Name: RIDRETH1, dtype: int64

In [18]:
df.groupby(['RIDRETH1','GENDER']).BMXBMI.mean().unstack()

GENDER       Female       Male
RIDRETH1
1         31.716978  30.098276
2         30.160235  29.620872
3         29.364667  29.037158
4         31.704050  28.917699
5         26.173696  26.131126

In [33]:
pd.crosstab(df.RIDRETH1,df.GENDER ,margins=True)

GENDER    Female  Male   All
RIDRETH1
1            543   475  1018
2            428   322   750
3            910   929  1839
4            651   576  1227
5            444   457   901
All         2976  2759  5735

In [26]:
pd.crosstab(df.RIDRETH1,df.GENDER,normalize=1 )

GENDER      Female      Male
RIDRETH1
1         0.182460  0.172164
2         0.143817  0.116709
3         0.305780  0.336716
4         0.218750  0.208771
5         0.149194  0.165640

In [44]:
se_f_1=np.sqrt((0.18*(1-0.18))/2976)
print(se_f_1)

0.007042497724071226

In [46]:
se_f_2=np.sqrt((0.14)*(1-0.14)/2976)
print(se_f_2)

0.00636058088914148

In [49]:
z_score=1.96
lcb=(0.18)-z_score*se_f_1
ucb=(0.18)+z_score*se_f_1
print(lcb)
print(ucb)

0.16619670446082038
0.1938032955391796

In [51]:
import statsmodels.api as sm
sm.stats.proportion_confint(2976*0.18,2976)

(0.1661969580996151, 0.1938030419003849)

In [55]:
se_m_1=np.sqrt(((0.17)*(1-0.17)/2759))
print(se_m_1)

0.007151343790769194

In [56]:
sm.stats.proportion_confint(2759*0.17,2759)

(0.15598362372902824, 0.18401637627097178)

In [57]:
print(se_f_1)
print(se_m_1)

0.007042497724071226
0.007151343790769194

In [59]:
se_diff=np.sqrt((se_f_1)**2+(se_m_1)**2)
print(se_diff)

0.010036856689587707

In [61]:
d=0.182-0.172
lcb=d-1.96*se_diff
ucb=d+1.96*se_diff
print(lcb)
print(ucb)

-0.009672239111591895
0.029672239111591912

# **Calculate the CI-ConfidenceInterval of Mean**

In [62]:
df.groupby(['GENDER']).BMXBMI.mean()

GENDER
Female    29.939946
Male      28.778072
Name: BMXBMI, dtype: float64

In [63]:
df.groupby(['GENDER']).BMXBMI.describe()

         count       mean       std   min   25%   50%     75%   max
GENDER
Female  2944.0  29.939946  7.753319  14.5  24.1  28.8  34.100  67.3
Male    2718.0  28.778072  6.252568  15.1  24.4  27.9  31.975  58.8

In [68]:
se_female=7.75/np.sqrt(2944)
se_male=6.25/np.sqrt(2718)

In [70]:
lcb_fe=29.93-1.96*se_female
ucb_fe=29.93+1.96*se_female
print(lcb_fe)
print(ucb_fe)

29.650044585750887
30.209955414249112

In [71]:
lcb_male=28.77-1.96*se_male
ucb_male=28.77+1.96*se_male
print(lcb_male)
print(ucb_male)

28.535030570460222
29.004969429539777

In [72]:
mean_d=29.93-28.77
print(mean_d)

1.1600000000000001

In [73]:
n1=2944
n2=2718

In [75]:
_1=np.sqrt(((n1-1)*se_female**2+(n2-1)*se_male**2)/(n1+n2-2))
_2=np.sqrt((1/n1)+(1/n2))
sem_d= _1*_2
print(sem_d)

0.003519642057224516

In [77]:
lcb=mean_d-1.96*(sem_d)
ucb=mean_d+1.96*(sem_d)
print(lcb)
print(ucb)

1.15310150156784
1.1668984984321602

In [83]:

gender_bmi=df[['GENDER','BMXBMI']].copy()

In [87]:
gender_bmi.groupby('GENDER').mean()

           BMXBMI
GENDER
Female  29.939946
Male    28.778072

In [88]:
from scipy.stats import ttest_ind
cat1 = gender_bmi[gender_bmi['GENDER']=='Female']
cat2 = gender_bmi[gender_bmi['GENDER']=='Male']

ttest_ind(cat1['BMXBMI'], cat2['BMXBMI'])

Ttest_indResult(statistic=nan, pvalue=nan)