<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/UniversityOf_Michigan_Week2_NHANES_UnivariateAnalyses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [ ]:
url="https://raw.githubusercontent.com/kshedden/statswpy/master/NHANES/merged/nhanes_2015_2016.csv"
df=pd.read_csv(url)

In [ ]:
df.head()

    SEQN  ALQ101  ALQ110  ALQ130  ...  BMXARML  BMXARMC  BMXWAIST  HIQ210
0  83732     1.0     NaN     1.0  ...     43.6     35.9     101.1     2.0
1  83733     1.0     NaN     6.0  ...     40.0     33.2     107.9     NaN
2  83734     1.0     NaN     NaN  ...     37.0     31.0     116.5     2.0
3  83735     2.0     1.0     1.0  ...     37.7     38.3     110.1     2.0
4  83736     2.0     1.0     1.0  ...     36.0     27.2      80.4     2.0

[5 rows x 28 columns]

In [ ]:
df.describe()

               SEQN       ALQ101  ...     BMXWAIST       HIQ210
count   5735.000000  5208.000000  ...  5368.000000  4732.000000
mean   88678.583435     1.336406  ...    99.567213     1.915469
std     2882.139237     0.505514  ...    16.844109     0.414845
min    83732.000000     1.000000  ...    58.700000     1.000000
25%    86164.000000     1.000000  ...    87.600000     2.000000
50%    88668.000000     1.000000  ...    98.300000     2.000000
75%    91178.500000     2.000000  ...   109.300000     2.000000
max    93702.000000     9.000000  ...   171.600000     9.000000

[8 rows x 28 columns]

In [ ]:
print(sorted(df))
print(list(df.columns))

['ALQ101', 'ALQ110', 'ALQ130', 'BMXARMC', 'BMXARML', 'BMXBMI', 'BMXHT', 'BMXLEG', 'BMXWAIST', 'BMXWT', 'BPXDI1', 'BPXDI2', 'BPXSY1', 'BPXSY2', 'DMDCITZN', 'DMDEDUC2', 'DMDHHSIZ', 'DMDMARTL', 'HIQ210', 'INDFMPIR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1', 'SDMVPSU', 'SDMVSTRA', 'SEQN', 'SMQ020', 'WTINT2YR']
['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR', 'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2', 'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'HIQ210']

**Frequency Counts**

In [ ]:
df.DMDEDUC2.value_counts()

4.0    1621
5.0    1366
3.0    1186
1.0     655
2.0     643
9.0       3
Name: DMDEDUC2, dtype: int64

In [ ]:
##alternate methods for frequencies across multiple columns
#1-
#df[['DMDEDUC2','DMDMARTL','ALQ130']].value_counts(sort=False)
#2-
pd.crosstab(df.DMDEDUC2,df.DMDMARTL , normalize=True)

DMDMARTL      1.0       2.0       3.0       4.0       5.0       6.0       77.0
DMDEDUC2
1.0       0.062294  0.016076  0.009499  0.007855  0.011874  0.012057  0.000000
2.0       0.055718  0.007307  0.011326  0.007125  0.021374  0.014615  0.000000
3.0       0.100475  0.018085  0.023201  0.007307  0.043296  0.024297  0.000000
4.0       0.138290  0.019730  0.039642  0.007673  0.060650  0.029777  0.000365
5.0       0.151078  0.010778  0.021922  0.004019  0.046218  0.015528  0.000000
9.0       0.000000  0.000365  0.000183  0.000000  0.000000  0.000000  0.000000

In [ ]:
df['DMDEDUC2'].value_counts()

4.0    1621
5.0    1366
3.0    1186
1.0     655
2.0     643
9.0       3
Name: DMDEDUC2, dtype: int64

In [ ]:
df['DMDEDUC2'].value_counts().sum()

5474

In [ ]:
#To find total values that are missing:
pd.isnull(df.DMDEDUC2).sum()

261

In [ ]:
#Create a new column with different values
df['DMDEDUC2x']=df.DMDEDUC2.replace({1:"<9" ,2:"9-11" ,3:"HS/GED" ,4:"Some College/AA" ,5:"College" ,6:"Refused" ,7:"Don't Know"})
df[['DMDEDUC2x']].value_counts()

DMDEDUC2x
Some College/AA    1621
College            1366
HS/GED             1186
<9                  655
9-11                643
9.0                   3
dtype: int64

In [ ]:
x=df[['DMDEDUC2x']].value_counts()
x/x.sum()

DMDEDUC2x
Some College/AA    0.296127
College            0.249543
HS/GED             0.216661
<9                 0.119657
9-11               0.117464
9.0                0.000548
dtype: float64

In [ ]:
df['RIAGENDRx']=df.RIAGENDR.replace({1:'Male' ,2:'Female'})
df['RIAGENDRx'].value_counts()

Female    2976
Male      2759
Name: RIAGENDRx, dtype: int64

In [ ]:
y=df['RIAGENDRx'].value_counts()
y/y.sum()

Female    0.518919
Male      0.481081
Name: RIAGENDRx, dtype: float64

**Numerical Summaries**

A quick way to get a set of numerical summaries for a quantitative variable is with the describe data frame method. Below we demonstrate how to dp this using the body weight variable-BMXWT. As with many surveys some data values are missing, so we explicitly drop the missing cases using the **dropna** method before generating the summaries.

In [ ]:
df['BMXWT'].value_counts(bins=5)

(65.7, 99.0]                  3249
(32.233000000000004, 65.7]    1391
(99.0, 132.3]                  861
(132.3, 165.6]                 146
(165.6, 198.9]                  19
Name: BMXWT, dtype: int64

In [ ]:
df.BMXWT.isnull().sum()

69

In [ ]:
df.BMXWT.dropna().describe()

count    5666.000000
mean       81.342676
std        21.764409
min        32.400000
25%        65.900000
50%        78.200000
75%        92.700000
max       198.900000
Name: BMXWT, dtype: float64

In [ ]:
df.BMXWT.describe()

count    5666.000000
mean       81.342676
std        21.764409
min        32.400000
25%        65.900000
50%        78.200000
75%        92.700000
max       198.900000
Name: BMXWT, dtype: float64

In [ ]:
x=df.BMXWT.dropna()

In [ ]:
print(x.mean()) ##Pandas Method
print(np.mean(x)) ##Numpy Method

81.34267560889509
81.34267560889509

In [ ]:
print(x.median())
print(np.median(x))

78.2
78.2

In [ ]:
print(x.quantile(0.5))
print(np.percentile(x,50))

78.2
78.2

In [ ]:
print(x.quantile(0.82))
print(np.percentile(x,82))

print(x.quantile(0.99))
print(np.percentile(x,99))

99.1
99.1
147.67000000000007
147.67000000000007

In [ ]:
#
np.mean((df.BPXSY1>=120)&(df.BPXSY2<=139))

0.3741935483870968

In [ ]:
np.sum((df.BPXSY1>=120)&(df.BPXSY1<=139))

2104

In [ ]:
df.query((df.BPXSY1>=120)&(df.BPXSY1<=139))..mean()

ValueError: ignored