<a href="https://colab.research.google.com/github/arpitsharma27/PythonPractice/blob/main/UniversityOf_Michigan_Week3_MultivariateDataSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns' ,100)

In [3]:
url="https://raw.githubusercontent.com/kshedden/statswpy/master/NHANES/merged/nhanes_2015_2016.csv"
df=pd.read_csv(url)

In [4]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

### Keep only Body Measures columns, so only columns with "BMX" in the name

In [6]:
col_names=df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [7]:
sorted(df)

['ALQ101',
 'ALQ110',
 'ALQ130',
 'BMXARMC',
 'BMXARML',
 'BMXBMI',
 'BMXHT',
 'BMXLEG',
 'BMXWAIST',
 'BMXWT',
 'BPXDI1',
 'BPXDI2',
 'BPXSY1',
 'BPXSY2',
 'DMDCITZN',
 'DMDEDUC2',
 'DMDHHSIZ',
 'DMDMARTL',
 'HIQ210',
 'INDFMPIR',
 'RIAGENDR',
 'RIDAGEYR',
 'RIDRETH1',
 'SDMVPSU',
 'SDMVSTRA',
 'SEQN',
 'SMQ020',
 'WTINT2YR']

In [8]:
keep = ['BMXARMC','BMXARML','BMXBMI', 'BMXHT', 'BMXLEG', 'BMXWAIST', 'BMXWT']

In [10]:
keep = [col for col in df.columns if 'BMX' in col]
keep

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [12]:
df_BMX=df[keep]
df_BMX

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

In [13]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

**Column Indexing**

.loc is primarily label based, but may also be used with a boolean array.
.iloc is primarily integer position based(from 0 to length-1 of the axis), but may also be used with a boolean array.

In [14]:
df.loc[:,keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [15]:
index_bool=np.isin(df.columns,keep)
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [16]:
df.iloc[:,index_bool].head()#Indexing with Boolean List

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

**Selection by Conditions**

In [20]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [23]:
median_waist=df_BMX.BMXWAIST.median()

In [25]:
df_BMX.loc[df_BMX['BMXWAIST']>median_waist].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
9  108.3  179.4    33.6    46.0     44.1     38.5     116.0

In [27]:
df_BMX[(df_BMX['BMXWAIST']>median_waist) & (df_BMX['BMXLEG']<32)].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [29]:
df_BMX.loc[(df_BMX['BMXWAIST']>median_waist) & (df_BMX['BMXLEG']<32)].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

## **Common Errors and How to Read Them**

This portion has been skipped